[Unit]
Description=Refresh NOEZEMA systemd state snapshot

[Timer]
OnBootSec=5s
OnUnitInactiveSec=5s
AccuracySec=1s
RandomizedDelaySec=0
Unit=noezema-unit-state.service

[Install]
WantedBy=timers.target
